body {
  max-width: 1056px;
  margin: 2rem auto;
  line-height: 1.5;
  font-family:
    BlinkMacSystemFont,
    -apple-system,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
  background-color: rgb(119, 119, 119);
  color: white;
  text-shadow: 1px 1px 1px black;
}

a {
  color: white;
  text-shadow: 1px 1px 1px black;
}

table {
  margin: 1em;
}

th {
  vertical-align: top;
}

th:first-of-type {
  padding-right: 1em;
  vertical-align: middle;
}

td {
  padding-right: 1em;
}

input {
  text-align: right;
  font-family: monospace;
}

.swatch {
  width: 64px;
  height: 64px;
  display: block;
}

.hex-input {
  display: block;
  width: 64px;
}

label {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: 1em;
}

.value-input {
  width: 56px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  margin-right: 32px;
}

.flex-item h2 {
  margin: 0 0 0 10px;
}

canvas {
  image-rendering: crisp-edges;
}

div.colorpicker {
  position: relative;
  height: 300px;
  width: 320px;
}

svg.colorpicker {
  position: absolute;
  left: 0;
  pointer-events: none;
}

canvas.colorpicker-square {
  position: absolute;
  left: 10px;
  top: 10px;
}

canvas.colorpicker-slider {
  position: absolute;
  left: 287px;
  top: 10px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
